rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /user/{userId}{
    	allow create, read, update, delete: if request.auth.uid == userId;
      match /books/{bookId}{
      	allow create, read, update, delete: if request.auth.uid == userId;
      }
    }
  }
}